<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}} ">
</head>
<body>
  <div class="flask">
    <h1>Movie Recommendation System</h1>
    <p>Machine Learning Project</p>
  </div>
  <form action='/recommend' method='post'>
    <div class="ip">
    <label for="movie">Movie name:</label>
    <input type="text" name="movie" placeholder="Enter movie name" required>
    </div>
    <div class="sub">
    <button  type="submit" class="but">Recommend</button>
    </div>
  </form>
  <div class="posters">
    {% for poster_url in poster_urls %}
            {% if poster_url %}
                <img src="{{ poster_url }}" alt="Movie Poster" class="poster">
            {% else %}
                <p>Poster not found for one of the movies.</p>
            {% endif %}
    {% endfor %}
  </div>

</body>
</html>